.content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 128px;
    text-align: left;
}

h1 {
    margin-left: 20px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 40px;
}